## Matplotlib bar chart storytelling

In [1]:
import pandas as pd
import duckdb
from constants import GRAY_1, GRAY_2, GRAY_3, BLUE_1

df = pd.read_csv('data/norway_new_car_sales_by_make.csv')
df.head()

   Year  Month        Make  Quantity   Pct
0  2007      1      Toyota      2884  22.7
1  2007      1  Volkswagen      2521  19.9
2  2007      1     Peugeot      1029   8.1
3  2007      1        Ford       870   6.9
4  2007      1       Volvo       693   5.5

In [ ]:
df_quantity_brand = duckdb.query(
    """
    SELECT
"""
)